html{
    font-size: 62.5%
    
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom, rgb(18, 7, 90), black);
    background-size: 100% 40px; /* Altura de cada "ladrillo" */
    background-repeat:round ;
}

.contenedor--flotante{
    padding: 0.5em;
    border: 0.5em dashed rgb(250, 250, 250);
    border: 0.5em groove rgba(3, 110, 182, 0.808)
}

.contenedor--flotante img{
    width: 15%;
    height: 10%;
    width: 30%;
    height: 20%;
    float: inline-end;

    margin-top: 5em;
    filter: opacity(0.9);

}
.contenedor--flotante p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 3.5em;
    font-size: 2em;
    
}
/*Consultas de medios o Medias Queries:
Sirven para definir estilos a elementos HTML, segun el tamaño de la pantalla del dispositivo usado.
gracias a esto se nos proporciona una herramienta para la creacion de diseños web responsivos y
adaptables*/

/*flotantes: va a ser que el etxto flote por la imagen*/
/*consulta de medios para responsividad*/

/*Consultas de medios o Medias Queries
Sirven para definir estilos a elementos HTML, según el tamaño de la pantalla
del dispositivo usado, gracias a esto, se nos proporciona una herramienta para la creación 
de diseños web responsivos y adaptables. 
*/

@media screen and (max-width:300px) {
    .contenedor--flotante p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
        font-size: 1.2em;
}
}