/*
Modelos de color 
-RGB
-RGBA
-HEXADECIMAL
-HSL
*/
.rgb{
    color: rgb(255, 0, 0);
    background-color:rgb(35, 28, 28);
}

.rgba{
    color: rgba(0, 255, 0, 1);
    background-color: rgba(125, 10, 0, 0.60);

}
.hex{
    color: #02c4ff93;
    background-color: #3c3805;
}
.hsl{
    color: hsla(60, 83%, 48%, 0.755);
    background-color: hsla(29, 84%, 5%, 0.85);
}
/*
Colores multinavegador 
*/
.lista--colores{
    background-color: rgba(24, 106, 73, 0.701);
}
.black{
    color: black;
}
.white{
    color: white;
}
.salmon{
    color: salmon;
}
.blue{
    color: blue;
}
.lime{
    color: lime;
}
.borde{
   /* border-color: aquamarine;
    border-style: solid;
    border-width: 10px;*/
    border: 2px solid rgba(167, 0, 0, 0.705);
    
}
.lineal{
    background-image: linear-gradient(to top, red, purple);
}
.radial{
    background-image: radial-gradient(circle, rgb(65, 128, 230), aqua);
}