html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: radial-gradient(circle at center, #840000, #a53434, #222121);
}

.seccion_productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
    gap: 2em;
    /*border: 0.2em dashed rgb(0, 68, 255);*/

}

.producto{
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em 0.2em black;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.producto img{
    max-width: 100%;
    height: 40%;
    object-fit: cover;
    box-shadow: 0.3em 0.2em 0.3em black;
}


.precio{
    font-weight: 900;
}
.producto button{
    background-color: rgb(9, 105, 2);
    color: rgb(154, 148, 30);
}
.producto button:hover{
    background-color: rgb(98, 1, 1);
    color: rgb(255, 255, 255);
}

.carrusel{
    background-image: radial-gradient(ellipse, rgb(251, 255, 6), rgb(21, 93, 10));
    display: flex;
    gap: 3em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.op{
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em 0.2em black;
    padding: 0.2em;
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: end;
}