html{
    font-size: 62.5%;

}

body{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d1cfcdf9;
}
.cont_prin{
    font-size: 1.6rem;
    color: rgb(85, 100, 112);
}
.cont_prin h2, ul, strong{
    color: rgb(94, 141, 103);
    text-indent: 0.5em;
}
.cont_prin strong{
    color: rgba(159, 148, 86, 0.662)
}
#encabezado{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(191, 177, 99, 0.737);
    color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
   
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 1em;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

#encabezado h1 {
    margin: 0;
  font-size: 5em;
}
#encabezado h2{
    font-style:italic;
    margin: 08px;;
    font-weight: normal 12px;
    font-size: 1.5rem;
    opacity: 0.8;
}

#encabezado img{
 align-items: flex-start;
}

#encabezado nav ul{
    display: flex;
    gap:140px; /*Este es para la separacion de los enlacnes enter si*/
    justify-content: center;
    padding: 0;
    margin:0;
    width: 100%;
    color: rgb(144, 96, 45);
}

ul a:active{
    /*Cuando se presiona el link sera d color cafesito*/
    color: rgb(144, 96, 45);
}


img{
    height: 10em;
    width: 10em;
    border-radius: 55%;
    border: 3px solid rgb(197, 151, 34);
    text-align: center;
}


.pie{
    color:rgb(55, 165, 15);
    font-size: 1.5rem;
}
.pie hr{
    height: 7px;
    background-color: rgba(23, 120, 19, 0.299);
}
a:link{
    color: rgb(59, 156, 24);
}
a:hover{
    color: rgb(146, 164, 29);
}
a:visited{
    color: rgb(173, 119, 53);
}

@media screen and (max-width: 350px) {
    #encabezados ul {
       
       flex-direction:column-reverse ;
        font-size: 1em;
    }

    #encabezado h1 {
        font-size: 2em;
    }

    #encabezado img {
        width: 18%;
        height: 18%;
    }
}