/*Selectro HTML*/
html{
    font-size: 62.5%; /*10px*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(169, 150, 211), rgb(103, 115, 201));
    color: aliceblue;
}
/*Orden para los estilos de los estados en los enlaces
(LVFHA)
*/

a:link{
    color: rgb(64, 200, 241);
}

a:visited{
    color: rgba(112, 5, 189, 0.799);
}

a:focus{
    color: chartreuse;
    background-color: black;
    border: 0.3rem  solid goldenrod;
}

a:hover{
    color: rgb(186, 219, 219);
    background-color: black;
    border: 0.3rem  solid goldenrod;
}

a:active{
    color: gold; 
    background-color: rgb(138, 132, 132);
    border: 0.3rem  solid goldenrod;
}

#encabezado{
    font-size: 2rem;    border: 2px solid rgb(184, 119, 54);
}

#encabezado h1{
    font-size: 2em; /*40px*/
    text-align: center;
}
/*rem es medida relativa segun lo establecio en HTML*/
.enlaces{
    border: 0.1rem solid silver;
    font-size:  1.5rem; /*15px*/
}

.estados-enlaces h2{
    font-size: 2em; /*30px*//*Bomba*/
    text-align: center;
    border: 0.2em dashed rgb(142, 105, 33);
}
.estados-enlaces ul{
    border: 0.1em solid rgba(187, 124, 42, 0.905);
    padding-left: 0cm;
}
.estados-enlaces ul li{
    border: 0.1em solid silver;
    /*list-style-type (disc, decimal, circle, square, lower-roman, 
    lower-alpha, upper-aplha, none)*/
    /* list-style-type: upper-roman; */
    list-style-image: url('https://edube.org/uploads/media/default/0001/04/oedg_icon_regular.png');
    /*(inside y outside)*/
    list-style-position: inside;
    margin: 0.4rem;
    padding: 0.3rem;
    line-height: 1.5;    
}