html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom,rgba(249, 248, 247, 0.851), rgb(151, 151, 151));
}

#encabezado{
    border: 0.2em solid rgb(69, 64, 64);
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    justify-content: center;
    align-items: center;
}

#encabezado img{
    width: 70%;
    height: 90%;
    aspect-ratio: 1 / 1; /*perdon pero no queria hacerlo ovalado JASJASJAJ*/
    border-radius: 90%;
    object-fit: cover;
}

h1{
    font-size: 3.7em;
    text-align: center;
}

#navegacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.3em;
    gap: 0.3em;
}

#navegacion a{
    padding: 0.3em;
    text-decoration: none;
    text-shadow: 0.2em 0.2em 0.1em rgb(115, 121, 159) ;
    font-size: 1.3em;
    color: rgb(230, 228, 226);
    background-color: rgba(0, 0, 0, 0.777);
    border-radius: 20%;
    text-align: center;
}

#contenedor-noticias{
    border: 0.1em solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
}

.noticias{
    border: 0.1em solid rgb(195, 221, 200);
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.noticias h2{
    grid-column: 1 / 4;
    align-content: center;
    text-align: center;
}

.noticia{
    border:  0.2em solid blue;
    box-shadow: 0.2em 0.2em 0.2em black;
    align-content: center;
    text-align: center;
}

.noticias-urgentes{
    border: 0.2em solid black;
    grid-column: 5 / 7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 35em;
    overflow-y: auto;
}

.noticias-urgentes h2{
    text-align: center;
    align-content: center;
}

.noticias-u{
    border:  0.2em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.2em 0.2em rgb(121, 134, 122);
    align-content: center;
    text-align: center;
    height: 20em;
}

footer{
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    justify-content: center;
    align-items: center;
}