html{
    font-size: 62.5%;

}

body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
    background-color: #afa39ca9;
}

#encabezado{
    background-color: rgba(191, 177, 99, 0.737);
    color: rgb(57, 57, 57);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 1em;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

#encabezado h1 {
  font-size: 5em;
}

#encabezado nav {
  border: 0em solid rgb(122, 79, 54);
}

#encabezado img{
 align-items: flex-start;
}

#encabezado ul{
    border: 0.1em solid rgb(122, 79, 54);
    list-style-type: none;
    flex-direction: row;
    padding: 0;
}

#encabezado li{
    margin: 1em;
}

#encabezado ul li a {
    color: rgb(0, 0, 0);
}

img{
    height: 10em;
    width: 10em;
    border-radius: 55%;
    border: 3px solid rgb(197, 151, 34);
    text-align: center;
}

.contenedor--flexible{
    border: 0.2em solid rgb(201, 162, 162);
    padding: 0.5em;
    display: flex;
    height: 30em;
    width: 30em;
    /*flex-direction (row, column, row-reverse, column-reverse)*/
    flex-direction: row;
    /*justify-content (flex-start, flex-end, centrer, space-between, space-around, space-evenly)-MAIN-AXIS(EJES-X)*/
    justify-content: space-around;
    /*align-items (flex-start, flex-end, center, strech, baseline) transveral*/
    align-items: center;
    flex-wrap: wrap;
}

.contenedor--flexible div{
    background-color: rgba(50, 120, 51, 0.455);
    border: 0.15em solid rgb(11, 51, 17);
    height: 10em;
    width: 30em;
    margin: 1em;

}
/*Propiedadezs flex para objetos flexibles*/
.objeto1{
    /*flex-grow: 2;*/
    order: 1;
    
}

.objeto2{
    /*flex-shrink: 0; */
    order: -3;
}

.objeto3{
    /* flex-grow: 1; */
    order: -1;
}

.objeto4{
    order: -2;
}

@media screen and (max-width: 350px) {
    #encabezado ul {
        flex-direction: column;
        font-size: 1em;
    }

    #encabezado h1 {
        font-size: 1.7em;
    }

    #encabezado img {
        width: 18%;
        height: 18%;
    }
}