#encabezado{
    color: rgb(30, 57, 75);
    background-color: rgb(190, 181, 168);
    height:100px;
    /*El relleno es el espacio entre el contenido de un elemento y su border*/
    /*Se aplican las propiedades en sentido horario:1° top, 2° right, 3°bottom y 4°left*/
    padding: 10px 20px 50px;

    /*El margen es el espacio entr4e el borde de un elemento con otro elemento HTML*/
    margin: 10px 30px 40px;

    /*El border es el contrno visual al rededor de nuestro relleno y contenido de un elemento.
    Valores posibles para border style: 
    (solid, dotted, dashed, double, groove, ridge, inset, outset, hidden y none)*/
    border:20px outset rgb(135, 114, 89);
    border-left-style: solid ;
    border-radius: 0%;

    /*Se pueden utulizar para crear efectos de sombra alrededor del borde de un elemento
    se deben de especificar los valores de l desplazamaiento horizontal, vertical radio de desenfoque, radio de
    propagación y color*/
    box-shadow: 7px 5px  10px 5px rgba(78, 70, 66, 0.712);

    /*border box se utiliza para que rellenos, margenes y bordes no agreguen espacio
    extra a lo que se declaro en nuestro contenedor*/
    box-sizing: content-box;
}

.introduccion{
    color: rgb(255, 244, 194);
    background-color: #F2923B ;
    height: 300px;
    padding: 10px;
    margin: 10px;
    border: 3px groove brown;
    box-shadow: 5px 5px 10px 5px rgba(202, 202, 90, 0.541);
    box-sizing: border-box;
}
.introduccion p{
    border: 1px double green;
    height:100px;
    width: 500px;
    padding-top: 10px;
    box-sizing: border-box ;

}
.introduccion span{
    border: 1px double silver;
    height: 50px;
    padding: 10px;
    box-sizing: border-box ;
}
.texto--fuente{
    background-color: rgba(196, 196, 90, 0.616);
    color: rgb(255, 255, 255);
    border: 3px dotted goldenrod;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif;
}
.propiedades--texto{
    border: 1px solid rgb(94, 118, 255);
    padding: 5px;
    margin: 5px;
    box-sizing: border-box ;
}
.propiedades--texto h2{
    color: rgb(17, 17, 17);
    text-align: center;
    border: 2px outset rgba(51, 42, 170, 0.795);
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(142, 22, 197, 0.589);
    letter-spacing: 2px;
    word-spacing: 5px;
    font-family: "BBH Sans Bartle", sans-serif;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    
}
.propiedades--texto{
    text-align: justify;
    line-height: 1.2;
}
.propiedades--fuente{
    border: 1px solid rgb(94, 118, 255);
    padding: 5px;
    margin: 5px;
    box-sizing: border-box ;
}
.propiedades--fuente p{
    text-align: justify;
    line-height: 1.2;
}